:root {
  --main-color: #a7b0ee;
  --dark-color: #112b52;
  --super-dark-color: #101d54;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 0.1rem;
  color: var(--super-dark-color);
}

body {
  margin: 0;
  background-color: var(--dark-color);
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: fill;
}

.container {
  padding: 0 5% 4%;
  max-width: 70vw;
  background-color: var(--main-color);
  border-radius: 1rem;
  box-shadow: 0 0 0.8rem 0.1rem var(--super-dark-color);
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

p {
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slider {
  margin-bottom: 3%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.1rem var(--super-dark-color);
}

.img-container {
  width: 700%;
  height: 32vw;
  display: flex;
  border-radius: 0.5rem;
}

.slider-img {
  width: 14.28%;
  height: 100%;
  display: flex;
  transition: margin-left 0.5s ease;
}

.slider-controls {
  margin-right: -0.3rem;
  display: flex;
  align-items: center;
}

.slider-controls label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 3rem;
  cursor: pointer;
}

.slider-controls .slider-btn {
  padding: 4%;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid var(--super-dark-color);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0.03rem var(--super-dark-color);
  transition: all 0.3s ease-in;
}

.slider-controls label:hover .slider-btn {
  background-color: var(--super-dark-color);
}

.slider-text {
  width: 600%;
  overflow: hidden;
}

.text-item {
  display: none;
  opacity: 0;
  font-size: 2rem;
  line-height: 0;
  transition: all 0.5s ease-in;
}

.slider-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

input {
  visibility: hidden;
}

.controls-container {
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

#img1:checked ~ .slider .img-container > .slider-img:first-of-type {
  margin-left: 0;
}

#img2:checked ~ .slider .img-container > .slider-img:first-of-type {
  margin-left: -14.28%;
}

#img3:checked ~ .slider .img-container > .slider-img:first-of-type {
  margin-left: -28.56%;
}

#img4:checked ~ .slider .img-container > .slider-img:first-of-type {
  margin-left: -42.84%;
}

#img5:checked ~ .slider .img-container > .slider-img:first-of-type {
  margin-left: -57.12%;
}

#img6:checked ~ .slider .img-container > .slider-img:first-of-type {
  margin-left: -71.4%;
}

#img7:checked ~ .slider .img-container > .slider-img:first-of-type {
  margin-left: -85.68%;
}

#img1:checked ~ .controls-container #text1,
#img2:checked ~ .controls-container #text2,
#img3:checked ~ .controls-container #text3,
#img4:checked ~ .controls-container #text4,
#img5:checked ~ .controls-container #text5,
#img6:checked ~ .controls-container #text6,
#img7:checked ~ .controls-container #text7 {
  animation: showSlide 0.5s alternate;
  animation-iteration-count: 1;
  display: block;
  opacity: 1;
}

#img1:checked
  ~ .controls-container
  .slider-controls
  > label:nth-of-type(1)
  .slider-btn,
#img2:checked
  ~ .controls-container
  .slider-controls
  > label:nth-of-type(2)
  .slider-btn,
#img3:checked
  ~ .controls-container
  .slider-controls
  > label:nth-of-type(3)
  .slider-btn,
#img4:checked
  ~ .controls-container
  .slider-controls
  > label:nth-of-type(4)
  .slider-btn,
#img5:checked
  ~ .controls-container
  .slider-controls
  > label:nth-of-type(5)
  .slider-btn,
#img6:checked
  ~ .controls-container
  .slider-controls
  > label:nth-of-type(6)
  .slider-btn {
  background-color: var(--super-dark-color);
}

@keyframes showSlide {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: translateX(40%) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@media screen and (max-width: 1385px) {
  .container {
    max-width: 80vw;
  }

  .text-item {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 990px) {
  html {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 6% 4%;
  }

  .img-container {
    height: 34vw;
  }

  .controls-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .slider-controls {
    margin: 0;
    overflow-x: hidden;
  }

  .slider-text {
    width: 100%;
    justify-content: flex-start;
  }

  .text-item {
    margin-top: 0;
    line-height: 3rem;
  }

  @keyframes showSlide {
    0% {
      display: none;
      opacity: 0;
    }
    30% {
      display: block;
      opacity: 0;
      transform: translateX(100%) scale(1.5);
    }
    100% {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }
}

@media screen and (max-width: 480px) {
  html {
    overflow-y: hidden;
    font-size: 0.6rem;
  }
  .container {
    max-width: 90vw;
  }

  .img-container {
    height: 48vw;
  }
}
